*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body{
	background-color: #eeeeee;
}

/*header part starts */

.container{
	max-width: 1200px;
	margin: 0 auto;
}

.header{
	background-color: #ffffff;
}

.header::after{
	content: " ";
	clear: both;
	display: block;
	visibility: none;
}

.logo{
	float: left;
}

.navbar{
	float: right;
}

.navbar ul{
	margin-bottom: 0px;
}

.navbar ul li{
	display: inline-block;
}

.navbar ul li a{
	text-decoration: none;
	padding: 10px 20px;
	color: #303030;
	line-height: 60px;
}

.navbar ul li a:hover{
	color: dodgerblue;
}

/* header ends */

.content-margin{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
}
img{
	display: inline-block;
	max-width: 100%;
}

article{
	padding: 20px;
}

p{
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6{
	margin-bottom: 10px;
}

h3{
	margin-left: 20px;
}
ul,ol{
	margin-left: 20px;
	margin-bottom: 20px;
}
table{
	margin-bottom: 20px;
}

th,td{
	padding: 5px;
}

td{
	text-align: center;
}

li{
	margin-left: 20px;
	list-style: upper-roman;
}

.nested{
	list-style: lower-latin;
}

.footer{
	background-color: #ccc;
	padding: 10px;
	text-align: center;
}

.footer a{
	text-decoration: none;
	color: dodgerblue;
}

.container a{
	text-decoration: none;
	color: dodgerblue;
}

.comment-section{
	padding: 10px;
}

.failed-comment{
	padding: 10px;
}

.failed-comment li{
	list-style: disc;
	padding: 5px;
}
