{% extends 'layout.html' %}

{% block body %}
  <h1>{{dorm.dormname}}</h1>
  <hr>
  {% if dorm.picture %}
  <img src="/static/uploads/img/dorm/{{dorm.picture}}" alt="{{dorm.dormname}}" width="500" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
  {% endif %}
  </br></br>
  <div>
    {{dorm.dormdescription | safe}}
  </div>
  <h1>Supervisor</h1>
  <hr>
  <div>
    <li class="list-group-item"><a href="/supervisor-profile/{{supervisor.id}}">{{supervisor.firstname | safe}} {{supervisor.surname | safe}}</a></li>
  </div>
  <h1>List of Rooms</h1>
    {% for room in rooms %}
      <li class="list-group-item"><a href="/room/{{room.id}}">{{room.roomname}}</a></li>
    {% endfor %}
  </br></br></br></br></br></br>
{% endblock %}
