<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <!--navbar-->
    <header class="header">
        <div class="container">
        <img src="../static/itu-logo.png" alt="my logo" height="60" class="logo">
        <nav class="navbar">
            <ul>
                <li><a href="/">Home Page</a></li>			        
                <li><a href="static/the-sun.html">The Sun</a></li>
                <li><a href="static/inner-planets.html">Inner Planets</a></li>
                <li><a href="static/gas-giants.html">Gas Giants</a></li>
                <li><a href="static/other.html">Other Objects</a></li>
                <li><a href="static/sources.html">Sources</a></li>
                <li><a href="/Comments">Comments</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <!--navbar ends-->
    <!--information-->
    <div class="container content-margin">
        {% block content %}{% endblock %}          
    </div>
</body>
</html>