{% extends 'layout.html' %}

{% block body %}
  <h1>Students</h1>
  <form action="" method="POST">
  <ul class="form-check">
    {% for student in students %}
      <input type="checkbox" id="{{student.id}}" name="student-checkbox" value="{{student.id}}">
      <a href="student-profile/{{student.id}}">{{student.firstname}} {{student.surname}}</a> </br>
      {% endfor %}
    </br>
    </br>
    </br>
  </ul>
  <button type="submit" class="btn btn-primary">Remove Selected From Database</button>
  </form>
{% endblock %}
