{% extends 'layout.html' %}

{% block body %}
  <h1>{{room.roomname}}</h1>
  <hr>
  <div>
    {% if room.picture %}
      <img src="/static/uploads/img/room/{{room.picture}}" alt="{{room.roomname}}" width="500" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
    {% endif %}
    </br></br>
    <p>{{room.roomdescription | safe}}</p> </br></br>
    Capacity: {{room.capacity | safe}} </br></br>
    Current Number of Students: {{room.allotment | safe}} </br></br>
    Price of the Room for 1 Student: {{room.price | safe}} TL
    <h2>Current Occupants</h2>
    {% if session.logged_in %}
      {% for student in students %}
        <li class="list-group-item"><a href="/student-profile/{{student.id}}">{{student.firstname}} {{student.surname}}</a></li>
      {% endfor %}
    {% else %}
      <p>Please log in to see current occupants</p>
    {% endif %}
    </br></br></br></br></br></br>
  </div>
{% endblock %}
