{% extends 'layout.html' %}

{% block body %}
  <h1>{{student.firstname}} {{student.surname}}'s Profile</h1>
  <hr>
  <div>
    Email: {{student.email | safe}} </br>
    Phone Number: {{student.phonenum | safe}} </br>
    Date Of Birth: {{student.date_of_birth}}  </br>
    Date Of Enterance: {{student.date_of_entrance}}  </br>
  </div>

  {% if session.usertype == 'student' %}
  </br>
  <a href="/edit-student-profile/{{student.id}}">Click here to edit your contact information</a>
  {% endif %}
  <h3>Room Page</h3>
  <li class="list-group-item"><a href="/room/{{room.id}}">{{room.roomname | safe}}</a></li>
  <h3>Building Page</h3>
  <li class="list-group-item"><a href="/dorm/{{building.id}}">{{building.dormname | safe}}</a></li>
  {% if session.logged_in %}
    {% if session.usertype == 'supervisor' or session.usertype == 'student' %}
      <h3>Complaints</h3>
      {% for complaint in complaints %}
        <li class="list-group-item"><a href="/complaint/{{complaint.id}}">complaint #{{complaint.id | safe}}</a></li>
      {% endfor %}

    {% endif %}
    {% if session.usertype == 'admin' %}
      <h3>Requests</h3>
      {% for request in requests %}
        {% if request.is_responded == False %}
          <li class="list-group-item"><a href="/request/{{request.request_id}}">Request #{{request.request_id}} Status: Pending</a></li>
        {% elif request.is_approved == True %}
          <li class="list-group-item"><a href="/request/{{request.request_id}}">Request #{{request.request_id}} Status: Accepted</a></li>
        {% elif request.is_approved == False %}
          <li class="list-group-item"><a href="/request/{{request.request_id}}">Request #{{request.request_id}} Status: Rejected</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
    <h3>Payments</h3>
        {% for payment in payments %}
      <li class="list-group-item"><a href="/payment/{{payment.studentid}}${{payment.payment_date.strftime('%Y-%m')}}">payment of {{student.firstname}} {{student.surname}} at {{payment.payment_date}}</a></li>
      {% endfor %}

  {% endif %}
{% endblock %}
